.no-border-left {
    border-left: 0;
}
.no-border-right {
    border-right: 0;
}
.no-border-top {
    border-top: 0;
}
.no-border-bottom {
    border-bottom: 0;
}

.table-bordered {
  > thead, > tbody, > tfoot {
    > tr {
      > th, > td {
        &.no-border-left {
            border-left: 1px solid transparent;
        }
        &.no-border-right {
            border-right: 1px solid transparent;
        }
        &.no-border-top {
            border-top: 1px solid transparent;
        }
        &.no-border-bottom {
            border-bottom: 1px solid transparent;
        }
      }
    }
  }
}
