---
layout: pure_page
title: "index"
date: 2014-06-16 11:36
comments: false
sharing: true
footer: true
announcement: true
---

.topic
  %h2 Who We Are?
  .content
    %p We are a community of technologists and hackers interested in cloud technology, especially on the IaaS / PaaS layer.
    %p We aim to make application deployment processes simple,  operate (or at least learn to operate) infrastructure effectively, practice continuous integration, and ease our development lives by standardizing our dev, staging, and prod environments with various tools. Basically, we want to make our devOps lives better.

.topic
  %h2 What We Do?
  .content
    %p We deal with devOps tools in our day-to-day work. In here, we will hone up our skills in learning technologies and tools to make ourselves more effective in operating and managing infrastructures (be it VM, or hybrid). In specifics, we deal with tools such as OpenStack, Vagrant, Chef, Puppet, OpenShift, Docker, etc.
    %p As a community, we share what we learn in our work field. We post articles, and share insights and industry news. We welcome questions or discusion on using these tools through our email group.
    %p We also hold meetup together too amid our virtual presence about every 1 - 2 month. It is still nice to have face-to-face interaction, and have a good time together ;) Our meetup will be held in Hong Kong, and target to expand to Shenzhen, and Guangzhou.

.topic
  %h2 Next Step
  .content
    %p
      Come join our
      %a{:href => "https://groups.google.com/d/forum/cloudhackinggroup", :target => "_blank"} email group
      , like our
      %a{:href => "https://www.facebook.com/cloudtechgrouphkscn", :target => "_blank"}< facebook page

      \. Don't forget to check out our
      %a{:href => "http://www.meetup.com/Cloud-Hacking-Group-HK-SCN", :target => "_blank"} next meetup
      too.

.topic
  %h2 Come Join Us

  .content
    %ul
      %li
        Join our
        %a{:href => "https://groups.google.com/d/forum/cloudhackinggroup",
           :target => "_blank"} Google Group mailing list
      %li
        Join our
        %a{:href => "http://www.meetup.com/Cloud-Hacking-Group-HK-SCN",
           :target => "_blank"} meet up
      %li
        Follow our
        %a{:href => "https://www.facebook.com/cloudtechgrouphkscn",
           :target => "_blank"} Facebook page
      %li
        We share our code in
        %a{:href => "https://github.com/CloudHackingGroup-HK-SouthCN",
           :target => "_blank"} Github
        ,
      %li
        and video at
        %a{:href => "https://www.youtube.com/channel/UC0PydnwxF6uUGpsusH2YmYQ",
           :target => "_blank"} Youtube
        , and
        %a{:href => "http://www.youku.com/playlist_show/id_22402656.html",
          :target => "_blank"} Youku
