---
layout: pure_page
title: "index"
date: 2014-06-16 11:36
comments: false
sharing: true
footer: true
---

.topic
  %h2 Who We Are?

  .content
    blah... blah... blah...

.topic
  %h2 What we do?

  .content
    blah... blah... blah...

.topic
  %h2 Come Join Us

  .content
    %ul
      %li
        Join our
        %a{:href => "https://groups.google.com/d/forum/cloudhackinggroup",
           :target => "_blank"} Google Group mailing list
      %li
        Join our
        %a{:href => "http://www.meetup.com/Cloud-Hacking-Group-HK-SCN",
           :target => "_blank"} meet up
      %li
        Follow our
        %a{:href => "https://www.facebook.com/cloudtechgrouphkscn",
           :target => "_blank"} Facebook page
      %li
        We share our code in
        %a{:href => "https://github.com/CloudHackingGroup-HK-SouthCN",
           :target => "_blank"} Github
        ,
      %li
        and video at
        %a{:href => "https://www.youtube.com/channel/UC0PydnwxF6uUGpsusH2YmYQ",
           :target => "_blank"} Youtube
        , and
        %a{:href => "http://www.youku.com/playlist_show/id_22402656.html",
          :target => "_blank"} Youku
