.announcement {
  padding: 15px !important;
  margin-left: 30px;
  margin-right: 30px;
  color: #3c763d;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  border-radius: 4px;
  font-size: smaller !important;
}
